:root {
  --orange: #F29F05;
  --light-color: #F2E8DC;
  --dark-orange: #F27405;
  --blue: #1B3059;

}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}



.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.squareX {
  color: blue;
}

.squareO {
  color: red;
}

.board-row:nth-child(2)
 {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}

.board-row > .square:nth-child(2)
 {
  border-left: 2px solid red;
  border-right: 3px solid red;
}

.border-row > .border-row:nth-child(2){
  border-left: 5px solid red;
  border-right: 5px solid red;
}