@import url('https://fonts.googleapis.com/css2?family=Lora&family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
  --orange: #00beff;
  --light-color: #E1F1FF;
  --dark-orange: #F27405;
  --blue: #21A4FF;
  --pink: #F98365;
  --dark-blue: #2F4858;
  --alpha: 0.2;
font-size: calc(0.5em + 1vmin);
  --width-board: 45vmin;
  --width-square: 15vmin;
  --width-buttons: 40vmin;
}

body {
  font-family: 'Handlee', cursive;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--dark-blue);
}

button {
  font-family: 'Handlee', cursive;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #00beff, #4cd2e5, #95decf, #cee7ce, #f1f1e6);
  background-size: 1000% 100%;

  animation: backgroundcolor 30s linear reverse infinite;
}

@keyframes backgroundcolor {

  0%{
    background-position: left;
  }

  50%{
    background-position: right;
  }

  100%{
    background-position: left;
  }
  
}

.game{
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.game-board {
  height: var(--width-board);
  width: var(--width-board);
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.9em;
  margin: 0.8em;
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  opacity: 0;

  animation: startview 0.5s cubic-bezier(.28,.63,.7,1.16) forwards;
  animation-delay: 0.2s;
}

@keyframes startview {
  0%{
    transform: translateY(5em) scale(0.8);
    opacity: 0;
  }

  100%{
    transform: translateY(0em) scale(1);
    opacity: 1;
  }
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-game {
  opacity: 0;
  display: block;
  width: var(--width-buttons);
  padding: 5px 0;
  margin: 0.4em auto;
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: bold;
  background-size: 300% 100%;
  transition: all .4s ease-in-out;
  color: var(--light-color);
  background-image: linear-gradient(to right, #d38924, #eb9928, #f1b768, #d38924);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);

  animation: startview 0.5s cubic-bezier(.28,.63,.7,1.16) forwards;
  animation-delay: 0.4s;
}

.new-game:hover{
  cursor: pointer;
  background-position: 100% 0;
  transform: scale(1.05);
}

.hide{
  opacity: 0;
}

.status {
  display: block;
  margin: auto;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:rgba(45, 54, 65, 0.75);
  opacity: 0;

  animation: startview 0.5s cubic-bezier(.28,.63,.7,1.16) forwards;

}

.game-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show-button{
  opacity: 0;
  border: none;
  width: var(--width-buttons);
  padding: 5px 0;
  margin: 0.4em auto;
  color: var(--light-color);
  border-radius: 0.5em;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #2F4858, #485563, #2b5876, #2F4858);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  transition: all .4s cubic-bezier(.28,.63,.7,1.16);
  font-weight: bold;
  animation: startview 0.5s cubic-bezier(.28,.63,.7,1.16) forwards;
  animation-delay: 0.6s;
  font-size: 1rem;
}

.show-button:hover{
  cursor: pointer;
  background-position: 100% 0;
  transform: scale(1.05);
}

ul {
  list-style: none;
  height: 100%;
  max-width: 45vmin;
  margin: 1em 0;
  padding: 0;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  height: 4em;
}

ul > li {
  border-radius: 0.7em;
  height: 3vmin;
  font-size: 0.4rem;
  text-align: center;
  padding: 0.1em;
  margin: 1px;
  background-size: 300% 100%;
  background-image: linear-gradient(to right, #2F4858, #485563, #2b5876, #2F4858);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  transition: all .4s cubic-bezier(.28,.63,.7,1.16);
  font-family: 'Amatic SC', cursive;
}

ul > li:hover{
  cursor: pointer;
  background-position: 100% 0;
  transform: scale(1.03);
}


.move{
  font-family: 'Handlee', cursive;
  width: 4vw;
  background-color: transparent;
  border: none;
  color: var(--light-color);
  font-weight: lighter;
  font-size: 0.8rem;
  padding-top: 0.2em;
}

.highlight {
  font-weight: bold;
  color: #EB9928;
}

.move:hover{
  cursor: pointer;
}


.board-row:after {
  clear: both;
  content: "";
  display: flex;
  flex-direction: column;
  align-items: center;
}



.square {
  font-family: cursive;
  background: transparent;
  border: none;
  float: left;
  font-size: 4.3rem;
  font-weight: bold;
  /* line-height: 34px; */
  height: var(--width-square);
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  width:var(--width-square);
}

.square:focus {
  outline: none;
}

.square:hover{
  cursor: pointer;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.squareX {
  color: #2F4858;
}

.squareO {
  color: #EB9928;
}

.board-row:nth-child(2)
 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.board-row > .square:nth-child(2)
 {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.social-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em;
}

.icon {
  opacity: 0;
  transition: all .4s cubic-bezier(.28,.63,.6,1.12);
  box-shadow: 0 1px 5px 0 rgba(45, 54, 65, 0.75);
  border-radius: 50%;
  margin: 0.2em;
  animation: startview-icons 0.5s cubic-bezier(.28,.63,.7,1.16) forwards;
}

@keyframes startview-icons {
  0%{
    transform: scale(0.8);
    opacity: 0;
  }

  100%{
    transform: scale(1);
    opacity: 1;
  }
}


.icon:hover{
  transform: scale(1.1);
}

.icon-fb{
  animation-delay: 0.2s;
}

.icon-msg{
  animation-delay: 0.3s;
}

.icon-wa{
  animation-delay: 0.4s;
}

.icon-eml{
  animation-delay: 0.5s;
}

.icon-tw{
  animation-delay: 0.6s;
}


@media (max-width: 400px) and (orientation:portrait) {
    :root {
      font-size: calc(0.6em + 1vh);
      --width-board: 75vmin;
      --width-square: 25vmin;
      --width-buttons: 70vmin;
    }

    .social-icons {
      flex-direction: row;
      position: absolute;
      right: auto;
      top: auto;
      bottom: 0;
      width: 100vw;
      margin: 0.8em auto;
      justify-content: space-around;
    }

    /* .icon {
      margin
    } */

}
